In [24]:
import numpy as np
import pandas as pd

input_file = "kc_house_data.csv"
df = pd.read_csv(input_file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [25]:
housing_prepared = df.drop(["id", "price", "date", "zipcode"], axis=1)  # id, date, zipcode, price 특성 제거.
housing_labels = df["price"].copy()

## Date 특성을 정수로 변환해서 채워넣기

In [26]:
# date_temp = df["date"].astype(str).astype(int)
# housing_prepared["date"].fillna(date_temp, inplace=True)

In [27]:
housing_prepared

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,47.5941,-122.299,1020,1357

In [28]:
housing_labels

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [6]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_scores = cross_val_score(lin_reg, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [211008.81735168 220189.0785475  191631.67231017 226313.34253451
 188082.10171423 193292.68002291 189239.46463057 197770.06456088
 202258.31112575 214396.45154868]
Mean: 203418.1984346891
Standard deviation: 13017.361526099448

# 10-CV Result:
## Mean: 201997.43539997278

# 시각화 해보기

In [8]:
# import sys
# assert sys.version_info >= (3, 5)

# # Scikit-Learn ≥0.20 is required
# import sklearn
# assert sklearn.__version__ >= "0.20"

# # Common imports
# import numpy as np
# import os

# # To plot pretty figures
# %matplotlib inline
# import matplotlib as mpl
# import matplotlib.pyplot as plt
# mpl.rc('axes', labelsize=14)
# mpl.rc('xtick', labelsize=12)
# mpl.rc('ytick', labelsize=12)

# # Where to save the figures
# PROJECT_ROOT_DIR = "."
# CHAPTER_ID = "end_to_end_project"
# IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
# os.makedirs(IMAGES_PATH, exist_ok=True)

# def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
#     path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
#     print("Saving figure", fig_id)
#     if tight_layout:
#         plt.tight_layout()
#     plt.savefig(path, format=fig_extension, dpi=resolution)
    
# %matplotlib inline
# import matplotlib.pyplot as plt
# df.hist(bins=50, figsize=(20,15))
# save_fig("attribute_histogram_plots")
# plt.show()

# 특성 의미
#### sqft_living: 내부 면적 / grade: 구조 설계 / sqft_above: 위층 면적 / sqft_living15: 주위 15가구내부면적 / bathrooms: 욕실 수
#### views: 경관 / sqft_basement: 지하 면적 / bedrooms: 침실 수 / lat: 위도 / waterfront: 해변조망 / floors: 층수 / yr_renovated: 증축연도
#### sqft_lot: 땅면적  / sqft_lot15: 주위 15가구 외부면적 / yr_built: 건축 연도 / condition: 상태 / long: 경도

## 추가할 만한 특성
### 1. '주위 15가구 내부 면적 대비 내부 면적' > sqft_living_ratio = sqft_living / sqft_living15 ... 이런 느낌
### 2. '주위 15가구 외부 면적 대비 외부 면적' ? sqft_living_ratio = sqft_lot / sqft_lot15

In [9]:
corr_matrix = df.corr()
corr_matrix["price"].sort_values(ascending=False)

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
id              -0.016762
zipcode         -0.053203
Name: price, dtype: float64

# 결정트리 회귀 알고리즘

In [10]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=42)
tree_reg.fit(housing_prepared, housing_labels)

DecisionTreeRegressor(random_state=42)

In [11]:

tree_scores = cross_val_score(tree_reg, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-tree_scores)
display_scores(tree_rmse_scores)

Scores: [180905.77369336 172696.61280644 160064.6731471  183700.24923099
 184363.25125998 211240.04115659 174411.86950573 177614.4033965
 181020.07448629 167360.74267864]
Mean: 179337.76913616114
Standard deviation: 12859.126247952723

# Random_Forest (default)
# 10-CV Result
### Mean: 179337.76913616114

In [12]:
housing_prepared.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## Feature Engineering Try!

In [13]:
from sklearn.preprocessing import FunctionTransformer

living_ix, living15_ix, lot_ix, lot15_ix = [
    list(df.columns).index(col)
    for col in ("sqft_living", "sqft_living15", "sqft_lot", "sqft_lot15")]

def add_extra_features(X):
    sqft_living_ratio = X[:, living_ix] / X[:, living15_ix]
    sqft_lot_ratio = X[:, lot_ix] / X[:, lot15_ix]
    return np.c_[X, sqft_living_ratio, sqft_lot_ratio]

attr_adder = FunctionTransformer(add_extra_features, validate=False)
housing_extra_attribs = attr_adder.fit_transform(df.values)

In [14]:
import pandas as pd

housing_extra_attribs = pd.DataFrame(
    housing_extra_attribs,
    columns=list(df.columns)+["sqft_living_ratio", "sqft_lot_ratio"],
    index=df.index)
housing_extra_attribs

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sqft_living_ratio,sqft_lot_ratio
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,0.880597,1.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.721,-122.319,1690,7639,1.52071,0.94803
2,5631500400,20150225T000000,180000.0,2,1.0,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,0.283088,1.240387
3,2487200875,20141209T000000,604000.0,4,3.0,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,1.441176,1.0
4,1954400510,20150218T000000,510000.0,3,2.0,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,0.933333,1.076903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.5,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,1.0,0.749503
21609,6600060120,20150223T000000,400000.0,4,2.5,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,1.262295,0.807361
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,1.0,0.672646
21611,291310100,20150116T000000,400000.0,3,2.5,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,1.134752,1.855478
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,1.0,0.792926

In [15]:
housing_prepared_new = housing_extra_attribs.drop(["price", "date", "zipcode", "id"], axis=1)  # 특성 추출을 한 housing_prepared_new
housing_prepared_new

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,sqft_living_ratio,sqft_lot_ratio
0,3,1.0,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650,0.880597,1.0
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.721,-122.319,1690,7639,1.52071,0.94803
2,2,1.0,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062,0.283088,1.240387
3,4,3.0,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000,1.441176,1.0
4,3,2.0,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503,0.933333,1.076903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.5,1530,1131,3.0,0,0,3,8,1530,0,2009,0,47.6993,-122.346,1530,1509,1.0,0.749503
21609,4,2.5,2310,5813,2.0,0,0,3,8,2310,0,2014,0,47.5107,-122.362,1830,7200,1.262295,0.807361
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,47.5944,-122.299,1020,2007,1.0,0.672646
21611,3,2.5,1600,2388,2.0,0,0,3,8,1600,0,2004,0,47.5345,-122.069,1410,1287,1.134752,1.855478
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,47.5941,-122.299,1020,1357,1.0,0.792926

## 훈련 시작. housing_prepared_new 와 housing_prepared 비교

### lin_reg = LinearRegression()
####  lin_scores = cross_val_score(lin_reg, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)
#### lin_rmse_scores = np.sqrt(-lin_scores)
#### display_scores(lin_rmse_scores)

In [16]:
# from sklearn.ensemble import RandomForestRegressor
# rnd_clf_1 = RandomForestRegressor(random_state=42)
# rnd_clf_1_scores = cross_val_score(rnd_clf_1, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)
# rnd_1_rmse_scores = np.sqrt(-rnd_clf_1_scores)
# display_scores(rnd_1_rmse_scores)

### feature engineering ... jonmang

In [17]:
# rnd_clf_2_scores = cross_val_score(rnd_clf_1, housing_prepared_new, housing_labels, scoring="neg_mean_squared_error", cv=10)
# rnd_2_rmse_scores = np.sqrt(-rnd_clf_2_scores)
# display_scores(rnd_2_rmse_scores)

# Gradient Boosting 파라미터값 주지 말고 해보자ㅣ

In [19]:
from sklearn.ensemble import GradientBoostingRegressor
gdb_reg = GradientBoostingRegressor(random_state=42)
gdb_scores = cross_val_score(gdb_reg, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)
gdb_rmse_scores = np.sqrt(-gdb_scores)
display_scores(gdb_rmse_scores)

Scores: [133324.18754507 143632.63849978 124730.58773965 146410.68260612
 119959.97236017 146363.51047732 146765.31166464 132797.78002608
 133504.95619346 142421.03701226]
Mean: 136991.06641245686
Standard deviation: 9106.387458536701

## Using GradientBoostingRegressor (Min)

In [20]:
from sklearn.ensemble import GradientBoostingRegressor
gdb_reg = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05, max_depth=3, max_features='sqrt',
                                          min_samples_leaf=15, min_samples_split=10, loss='huber')
gdb_scores = cross_val_score(gdb_reg, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)
gdb_rmse_scores = np.sqrt(-gdb_scores)
display_scores(gdb_rmse_scores)

Scores: [107640.05700048 126827.38444976 109240.8790044  141517.54906234
 105182.27569112 112676.49180698 121259.9522647  112144.30090013
 116373.91212768 129593.87005369]
Mean: 118245.66723612905
Standard deviation: 10904.389973903337

# GridSearchCV를 이용한 Gradient Boosting 하이퍼 파라미터 튜닝

In [32]:
from sklearn.model_selection import GridSearchCV

params = {
    'learning_rate': [0.05, 0.1, 0.5, 1],
    'max_depth' : [3, 4, 5],
    'n_estimators': [3000, 5000],
    'min_samples_leaf': [10, 15, 20]
}

gb_reg = GradientBoostingRegressor(random_state=42)
gb_reg.fit(housing_prepared, housing_labels)

GradientBoostingRegressor(random_state=42)

In [ ]:
grid_cv = GridSearchCV(gb_reg, param_grid = params, cv=3, verbose = 1)
grid_cv.fit(housing_prepared, housing_labels)
print('최적 하이퍼 파라미터:', grid_cv.best_params)
print('최고 예측 정확도: {0:.4f}'.format(grid_cv.best_score_))

Fitting 3 folds for each of 72 candidates, totalling 216 fits

# 위에 변수명 best_params_가 아니라 오류 뜰거임. 위 실행 말고 밑에 코드 실행

In [ ]:
print('최적 하이퍼 파라미터:', grid_cv.best_params_)
print('최고 예측 정확도: {0:.4f}'.format(grid_cv.best_score_))

In [ ]:
print("hi")

## 개오래걸림   다신 ㄴㄴ;