# Wine Quality Prediction -20171539 최대한

**pandas의 read_csv로 'winequality-red.csv'파일 읽기**

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
wine = pd.read_csv("winequality-red.csv")
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [43]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## rename을 사용해서 특성 이름에 존재하는 공백을 ' _ '로 대체하기

In [45]:
wine.rename(columns={'fixed acidity' : 'fixed_acidity', 'volatile acidity': 'volatile_acidity', 
                    'citric acid': 'citric_acid', 'residual sugar': 'residual_sugar', 
                    'free sulfur dioxide': 'free_sulfur_dioxide', 'total sulfur dioxide': 'total_sulfur_dioxide'}, inplace=True)
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur_dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

<blockquote>특성 이름에 존재하는 공백이 '_' 로 대체된 것을 확인</blockquote>

# 새로운 특성 추가

**wine의 특성중 'sulphates'(황산염)에서 'chlorides'(염화물)를 뺀 값을 'sulph_sub_chlor'라는 새로운 특성으로 추가 **

In [70]:
wine['sulph_sub_chlor']=wine['sulphates']-wine['chlorides']  # add new feature

In [48]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur_dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
 12  sulph_sub_chlor       1599 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 162.5 KB

<blockquote>12번째 새로운 특성 'sulph_sub_chlor가 생성됨을 확인'</blockquote>

## 특성의 상관관계 확인

In [49]:
corr_matrix = wine.corr()

In [51]:
corr_matrix['quality'].sort_values(ascending=False)

quality                 1.000000
alcohol                 0.476166
sulph_sub_chlor         0.307735
sulphates               0.251397
citric_acid             0.226373
fixed_acidity           0.124052
residual_sugar          0.013732
free_sulfur_dioxide    -0.050656
pH                     -0.057731
chlorides              -0.128907
density                -0.174919
total_sulfur_dioxide   -0.185100
volatile_acidity       -0.390558
Name: quality, dtype: float64

<blockquote>추가한 특성 'sulph_sub_chlor'이 꽤 높은 상관관계가 있음을 확인!</blockquote>

# wine 데이터의 행렬 섞기

In [52]:
matrix_shuffle = wine.iloc[np.random.permutation(wine.index)].reset_index(drop=True)

**y_shuffle에는 'quality'를 저장, X_shuffle엔 특성 'quality'와 'fixed_acidity'를 제외한 나머지를 저장**

In [53]:
y_shuffle = matrix_shuffle["quality"]
X_shuffle = matrix_shuffle.drop(["quality", "fixed_acidity"], axis=1)

### 최종 결과 확인 함수 display_score 선언

In [57]:
def display_score(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [58]:
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

## AdaBoostRegressor 사용

In [100]:
from sklearn.ensemble import AdaBoostRegressor
ada_reg = AdaBoostRegressor(
    RandomForestRegressor(random_state=42), n_estimators=1000,
    learning_rate = 0.01, random_state=42)
ada_reg_score = cross_val_score(ada_reg, X_shuffle, y_shuffle, scoring = "neg_mean_squared_error", cv=10)
ada_rmse_score = np.sqrt(-ada_reg_score)
display_score(ada_rmse_score)

Scores: [0.61119811 0.5157646  0.5327341  0.50223376 0.54339327 0.55719891
 0.57113921 0.67735192 0.5249994  0.56001628]
Mean: 0.5596029578675488
Standard deviation: 0.04905204832890824

# ExtraTreesRegressor 사용

In [62]:
from sklearn.ensemble import ExtraTreesRegressor

ext_reg = ExtraTreesRegressor(n_estimators=500, max_depth=30, random_state=42)
ext_reg_score = cross_val_score(ext_reg, X_shuffle, y_shuffle, scoring="neg_mean_squared_error", cv=10)
ext_rmse_score = np.sqrt(-ext_reg_score)
display_score(ext_rmse_score)

Scores: [0.55840846 0.53176104 0.54741308 0.41560746 0.5910905  0.54487439
 0.59438428 0.58771073 0.54533749 0.57369413]
Mean: 0.5490281548729194
Standard deviation: 0.049144561508386295

# feature add 후 Ada Boost

In [69]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
ada_reg = AdaBoostRegressor(
    RandomForestRegressor(random_state=42), n_estimators=1000,
    learning_rate = 0.01, random_state=42)
ada_reg_score = cross_val_score(ada_reg, X_shuffle, y_shuffle, scoring = "neg_mean_squared_error", cv=10)
ada_rmse_score = np.sqrt(-ada_reg_score)
display_score(ada_rmse_score)

Scores: [0.56788588 0.54090318 0.56528311 0.41633895 0.60372127 0.55011703
 0.59759623 0.5968909  0.56871841 0.57426628]
Mean: 0.5581721252658628
Standard deviation: 0.051110710001123494